* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro{
    margin-top: 50px;
    margin-bottom: 30px;
    color: #BE585A;
    overflow-wrap: break-word;    
    width: 300px;
    text-align: center;
    font-size: large;
    font-weight: 900;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #292036;
    width: 300px;
    margin: auto;
    border-radius: 25px;
}

.top{
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time, .bars{
    color: white;
    text-align: center;
}
.light{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;

}
.light-cont{
    background-color: #272833;
    padding: 2px;
    width: 25%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.sun {
    width: 50%;
    height: 100%;
    background: none;
    border: none;
    color: rgb(166, 168, 166);
    font-size: 1.2em;
    font-weight: bolder;
    text-align: center;
    transition: .5s ease-out;
    cursor: pointer;

}

.moon {
    width: 50%;
    height: 100%;
    background: none;
    border: none;
    color: rgb(166, 168, 166);
    font-size: 1.2em;
    font-weight: bolder;
    text-align: center;
    transition: .5s ease-out;
    cursor: pointer;

}
.inp{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    background-color: white;
}
.display{
    width: 100%;
    height: 50px;
    text-align: right;
    padding-right: 25px;
    outline: none;
    border-style: none;
    color: black;
    font-size: 1.5em;
}

.ans{
    padding-right: 25px;
    color: black;
    width: 100%;
    height: 60px;
   text-align: right;
    font-size: 2em;
    font-weight: bolder;
}

.grid{
    width: 100%;
    height: 300px;
    display: grid;
    padding: 2px;
    gap: 5px;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, auto);
}
#equal{
    grid-column-start: 3;
    grid-column-end: 5;
}

.grid div{
    background-color: #272833dc;
    padding-top: 20px;
    text-align: center;
}

.green button{
    background-color: #272833;
    border: none;
    color: #279585;
    text-align: center;
    font-size: 1.1em;
    cursor: pointer;
}

.red button{
    background-color: #272833;
    border: none;
    color: #BE585A;
    text-align: center;
    font-size: 1.1em;
    cursor: pointer;
}

.white button{
    background-color: #272833;
    border: none;
    color: white;
    text-align: center;
    font-size: 1.1em;
    cursor: pointer;

}

.dot, .oprtrs{
    font-weight: 900;
    font-size: 1.1em;
}

button:hover{
    background-color: rgba(109, 90, 122, 0.37);
    border-radius: 30%;
}

.bottm{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    padding-bottom: 2px;
    padding-top: 5px;
}

.slide{
    width: 70%;
    height: 5px;
    border-radius: 50px;
    background-color:#272833;;
}

@media screen and (max-width : 685px) {
    .intro{
        color: blue;
        width: 280px;
        font-size: small;
        font-weight: 900;
    }
}